{% extends "layout.html" %}
{% block content %}
    <form method="POST" action=""> 
        {{ form.hidden_tag() }}
        <div class="container">
            
            <h1 style="margin-top:4rem; font-size:2rem; text-align:left;">Solution!</h1>

            <div class="tableDiv">

                <table id="grid">
                    <tr>
                        <!-- print sudoku grid and assign cell # to each using loop.index0 command -->
                        {% for value in grid %}
                            {% if loop.index0 % 9 == 0 %}
                                </tr>
                                <tr>
                            {% endif %}
                            {% if grid[loop.index0] == 0 or not grid[loop.index0] %}
                                <td> <input id={{ "cell-" + loop.index0|string }} type="text" value="" disabled> </td>
                            {% else %}
                                <!-- highlight digits that were given by puzzle -->
                                {% if originalGrid[loop.index0] == 0 or not originalGrid[loop.index0] %}
                                    <td> <input id={{ "cell-" + loop.index0|string }} type="text" value="{{ grid[loop.index0] }}" style="font-weight: normal; color: #47515b;" disabled> </td>
                                {% else %}
                                    <td> <input id={{ "cell-" + loop.index0|string }} type="text" value="{{ grid[loop.index0] }}" style="font-weight: bold; color: black;" disabled> </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </form>
{% endblock content %}