<html>
<head>
  <title>Upload Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <!-- over-riding picture from bootstrap -->
  <style type="text/css">
      .bg-image { 
        background-image: url('static/siteImages/newspaper.jpg');
      }
      #loading {
        background-image: url('static/siteImages/sudokuLoading.gif');
      }
  </style>

</head>
<body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>


  <!-- <script type="text/javascript">
    $(function() {
      $('#btnBack').click(function() {
        $("bg-image").css('background-image', 'url(static/loadingGirl.gif)');
      });
    }):
  </script> -->
  

  <div class="container-fluid">
    <div class="row no-gutter">
      
      <div id="content" class="d-none d-md-flex col-md-4 col-lg-5 bg-image">
        <div id="loading" class="col-md-3 col-lg-20 bg-image">
        </div>
      </div>
      

        <div class="col-md-8 col-lg-6">
          <div class="login d-flex align-items-center py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                  <h1 class="mb-4">Sudoku Puzzle Solver</h1>
                  <p>Just some text to fill the space. The human brain is a decidedly odd machine, often prone to glitches, malfunctions, and internal errors (like inexplicably deciding that raisins are an acceptable addition to cookies). However, within the confines of that chaos, something intriguing occasionally occurs: A seemingly mundane detail about the world will suddenly become more interesting, having been viewed from a slightly different perspective than usual.

                  This sort of miniature epiphany is called a showerthought
                  </p>

                  <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                      {{ form.picture.label() }}
                      {{ form.picture(class="form-control-file") }}
                      {% if form.picture.errors %}
                          {% for error in form.picture.errors %}
                              <span class="text-danger">{{ error }}</span></br>
                          {% endfor %}
                      {% endif %}
                    </div>

                      {{ form.submit(class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2", onclick=" $('#loading').show();") }}

                  </form>
                </div>
              </div>
            </div>
          </div>


        </div>


      </div>
    </div>
  </div>
</body>
</html>


<!-- source code: https://startbootstrap.com/snippets/sign-in-split/ -->